/*.video-cards-container {
    display: flex;
    flex-wrap: wrap;
}*/

.breadcrumbs-nav {
    .nav-wrapper .col {

        .breadcrumb {
            color: #333 !important;
            &::before {
                color: #333 !important;
            }
        }
    }
}
